# MinIO配置
MINIO_HOST=localhost:9000
MINIO_ACCESS_KEY=your-access-key
MINIO_SECRET_KEY=your-secret-key

# DashScope配置
DASHSCOPE_API_KEY=your-api-key

# MySQL配置
MYSQL_USER=root
MYSQL_PASSWORD=your-password
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=img2excel

# JWT配置
JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256
